.heading{
    text-align: center;
    color: white;
}

.todo-container{
    margin: 10px auto;
    background-color: #282b2c;
    height: 450px;
    width: 500px;
    overflow-y: scroll;
    padding:20px;
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    }

.input-box{
   padding: 5px;
   font-size: 20px;
}

.increment-btn{
    height: 50px;
    margin-left: 10px; 
    cursor: pointer;
}

.category{
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    margin: 20px;
}


.task{
    text-align: center;
}
